<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
    http://dozer.sourceforge.net/schema/beanmapping.xsd">
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.Association</class-a>
		<class-b>org.cts2.association.Association</class-b>
		<field>
			<a>associationName</a>
			<b>predicate.content</b>
		</field>
	</mapping>
	<mapping>
		<class-a>org.LexGrid.naming.SupportedCodingScheme</class-a>
		<class-b>org.cts2.association.Association</class-b>
		<field>
			<a>uri</a>
			<b>predicate.meaning</b>
		</field>
	</mapping>
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.ResolvedCodedNodeReference
		</class-a>
		<class-b>org.cts2.association.Association</class-b>
		<field>
			<a>entity.entityCode</a>
			<b>subject.localEntityName.name</b>
		</field>
		<field>
			<a>entity.entityCodeNamespace</a>
			<b>subject.localEntityName.namespace</b>
		</field>
	</mapping>
	<mapping type="one-way">
	<class-a>org.LexGrid.codingSchemes.CodingScheme</class-a>
	<class-b>org.cts2.association.Association</class-b>
		<field>
		<a>codingSchemeURI</a>
		<b>assertedBy.meaning</b>
		</field>
		<field>
		<a>codingSchemeName</a>
		<b>assertedBy.content</b>
		</field>
	</mapping>
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.AssociatedConcept</class-a>
		<class-b>org.cts2.association.Association</class-b>
		<field>
			<a>referencedEntry.entityCode</a>
			<b>target.entity.localEntityName.name</b>
		</field>
		<field>
			<a>referencedEntry.entityCodeNamespace</a>
			<b>target.entity.localEntityName.namespace</b>
		</field>
	</mapping>

	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.AssociatedData</class-a>
		<class-b>org.cts2.association.Association</class-b>
		<field>
			<a>id</a>
			<b>externalStatementId</b>
		</field>
	</mapping>
<!--	<mapping>-->
<!--		<class-a>-->
<!--		</class-a>-->
<!--		<class-b>org.cts2.association.AssociationDirectoryEntry-->
<!--	</class-b>-->
<!--	</mapping>-->
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.Association</class-a>
		<class-b>org.cts2.association.AssociationDirectoryEntry</class-b>
		<field>
			<a>associationName</a>
			<b>predicate.content</b>
		</field>
	</mapping>
	<mapping>
		<class-a>org.LexGrid.naming.SupportedCodingScheme</class-a>
		<class-b>org.cts2.association.AssociationDirectoryEntry</class-b>
		<field>
			<a>uri</a>
			<b>predicate.meaning</b>
		</field>
	</mapping>
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.ResolvedCodedNodeReference
		</class-a>
		<class-b>org.cts2.association.AssociationDirectoryEntry</class-b>
		<field>
			<a>entity.entityCode</a>
			<b>subject.localEntityName.name</b>
		</field>
		<field>
			<a>entity.entityCodeNamespace</a>
			<b>subject.localEntityName.namespace</b>
		</field>
	</mapping>
	<mapping type="one-way">
	<class-a>org.LexGrid.codingSchemes.CodingScheme</class-a>
	<class-b> org.cts2.association.AssociationDirectoryEntry</class-b>
		<field>
		<a>codingSchemeURI</a>
		<b>assertedBy.meaning</b>
		</field>
		<field>
		<a>codingSchemeName</a>
		<b>assertedBy.content</b>
		</field>
	</mapping>
	<mapping type="one-way">
		<class-a>org.LexGrid.LexBIG.DataModel.Core.AssociatedConcept</class-a>
		<class-b>org.cts2.association.AssociationDirectoryEntry</class-b>
		<field>
			<a>referencedEntry.entityCode</a>
			<b>target.entity.localEntityName.name</b>
		</field>
		<field>
			<a>referencedEntry.entityCodeNamespace</a>
			<b>target.entity.localEntityName.namespace</b>
		</field>
	</mapping>
</mappings>