<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping>
   		<class-a>org.LexGrid.LexBIG.DataModel.Collections.CodingSchemeRenderingList</class-a>
		<class-b>org.cts2.codesystemversion.CodeSystemVersionDirectory</class-b>
		
		<field>
			<a>codingSchemeRendering</a>
			<b>entry</b>
		</field>
    </mapping>

	<mapping>
		<class-a>org.LexGrid.LexBIG.DataModel.InterfaceElements.CodingSchemeRendering</class-a>
		<class-b>org.cts2.codesystemversion.CodeSystemVersionDirectoryEntry</class-b>
		
		<field>
			<a>codingSchemeSummary.codingSchemeURI</a>
			<b>about</b>
		</field>
		
		<field>
			<a>codingSchemeSummary.representsVersion</a>
			<b>officialResourceVersionId</b>
		</field>

		<field custom-converter-id="codeSystemVersionDirectoryEntryIdentityConverter">
			<a>this</a>
			<b>this</b>
		</field>
		
		<field>
			<a>codingSchemeSummary.formalName</a>
			<b>formalName</b>
		</field>	
			
		<field>
			<a>codingSchemeSummary.codingSchemeDescription</a>
			<b>resourceSynopsis</b>
		</field>		
			
		<field >
			<a is-accessible="true">_renderingDetail._versionTags._tagList</a>
			<b is-accessible="true">_codeSystemVersionTagList</b>
		</field>
	</mapping>
	
	<mapping wildcard="false">
		<class-a>org.LexGrid.codingSchemes.CodingScheme</class-a>
		<class-b>org.cts2.codesystemversion.CodeSystemVersion</class-b>
		
		<field>
			<a>codingSchemeURI</a>
			<b>about</b>
		</field>
		
		<field custom-converter-id="copyrightConverter">
			<a>this</a>
			<b>this</b>
		</field>

		<field custom-converter-id="codeSystemVersionIdentityConverter">
			<a>this</a>
			<b>this</b>
		</field>
		
	</mapping>
	
</mappings>
