<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping>
   		<class-a>org.LexGrid.LexBIG.DataModel.Collections.CodingSchemeRenderingList</class-a>
		<class-b>org.cts2.codesystem.CodeSystemDirectory</class-b>
		
		<field>
			<a>codingSchemeRendering</a>
			<b>entry</b>
		</field>
    </mapping>
 
    <mapping>
		<class-a>org.LexGrid.LexBIG.DataModel.InterfaceElements.CodingSchemeRendering</class-a>
		<class-b>org.cts2.codesystem.CodeSystemDirectoryEntry</class-b>
		
		<field>
			<a>codingSchemeSummary.codingSchemeURI</a>
			<b>about</b>
		</field>
		
		<field>
			<a>codingSchemeSummary.codingSchemeDescription</a>
			<b>resourceSynopsis</b>
		</field>

	</mapping>
	
	<mapping map-id="codeSystemPropertyMap" wildcard="false">
		<class-a>org.LexGrid.commonTypes.Property</class-a>
		<class-b>org.cts2.core.Property</class-b>
		<!-- field custom-converter-id="renderingURIGeneratorId" custom-converter-param="codesystem-statement">
			<a>this</a>
			<b>correspondingStatement</b>
		</field-->
		<field>
			<a>propertyName</a>
			<b>externalIdentifier</b>
		</field>
<!--		<field custom-converter-id="referenceTypeConverterId" custom-converter-param="CODE_SYSTEM_VERSION">-->
<!--			<a>this</a>-->
<!--			<b>sourceCodingSchemeVersion.codeSystem.domain</b>-->
<!--		</field>-->
		<field custom-converter-id="getCodingSchemeFromProperty-Id">
			<a>this</a>
			<b>sourceCodingSchemeVersion.codeSystem.content</b>
		</field>
		<field>
			<a>value.content</a>
			<b>value.value</b>
		</field>
	</mapping>
	
	<mapping map-id="sourceMap">
		<class-a>org.LexGrid.commonTypes.Source</class-a>
		<class-b>org.cts2.core.SourceAndRoleReference</class-b>
		<field>
			<a>content</a>
			<b>content</b>
		</field>
		<field>
			<a>role</a>
			<b>role.content</b>
		</field>
	</mapping>
	
	<mapping map-id="changeDescriptionMap">
		<class-a>org.LexGrid.codingSchemes.CodingScheme</class-a>
		<class-b>org.cts2.core.ChangeDescription</class-b>
		
		<field custom-converter-id="changeTypeConverterId">
			<a>entryState.changeType</a>
			<b>changeType</b>
		</field>
		<field>
			<a>effectiveDate</a>
			<b>effectiveDate</b>
		</field>
	</mapping>
</mappings>
