<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping>
   		<class-a>org.LexGrid.commonTypes.EntityDescription</class-a>
		<class-b>org.cts2.core.EntryDescription</class-b>
		
		<field>
			<a>content</a>
			<b>value</b>
		</field>
    </mapping>
  
      <mapping wildcard="false">
   		<class-a>org.LexGrid.commonTypes.VersionableAndDescribable</class-a>
		<class-b>org.cts2.core.ResourceDescription</class-b>
		
		<field>
			<a>entityDescription</a>
			<b>resourceSynopsis</b>
		</field>
    </mapping>
    
     <mapping wildcard="false">
   		<class-a>org.LexGrid.commonTypes.Describable</class-a>
		<class-b>org.cts2.core.ResourceDescription</class-b>
		
		<field>
			<a>entityDescription</a>
			<b>resourceSynopsis</b>
		</field>
		
    </mapping>
    
    <mapping wildcard="false">
		<class-a>org.LexGrid.commonTypes.Versionable</class-a>
		<class-b>org.cts2.core.Changeable</class-b>
    
    	<field>
			<a>isActive</a>
			<b>entryState</b>
		</field>
	</mapping>
  
  	<mapping wildcard="false">
		<class-a>org.LexGrid.commonTypes.VersionableAndDescribable</class-a>
		<class-b>org.cts2.core.ChangeableCore</class-b>
    
    	<field>
			<a>status</a>
			<b>status.content</b>
		</field>
		<field>
			<a>owner</a>
			<b>owner.content</b>
		</field>
		<field>
			<a>effectiveDate</a>
			<b>changeDescription.effectiveDate</b>
		</field>
		<field custom-converter-id="changeTypeConverter">
			<a>entryState.changeType</a>
			<b>changeDescription.changeType</b>
		</field>
		<field>
			<a>entryState.containingRevision</a>
			<b>changeDescription.containingChangeSet</b>
		</field>
		<field>
			<a>entryState.prevRevision</a>
			<b>changeDescription.prevChangeSet</b>
		</field>
	</mapping>
	
	<mapping>
		<class-a>java.lang.String</class-a>
		<class-b>org.cts2.core.VersionTagReference</class-b>
		
		<field>
			<a>this</a>
			<b>content</b>
		</field>
	</mapping>
	
	<mapping wildcard="false">
		<class-a>org.LexGrid.commonTypes.Source</class-a>
		<class-b>org.cts2.core.SourceAndRoleReference</class-b>
		
		<field>
			<a>content</a>
			<b>content</b>			
		</field>
		<field>
			<a>role</a>
			<b>role.content</b>	
		</field>
	</mapping>
  
</mappings>
