<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping>
   		<class-a>org.LexGrid.commonTypes.EntityDescription</class-a>
		<class-b>org.cts2.core.EntryDescription</class-b>
		
		<field>
			<a>content</a>
			<b>value</b>
		</field>
    </mapping>
  
</mappings>
