<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
	
	<mapping>
		<class-a>org.LexGrid.LexBIG.DataModel.Core.ResolvedConceptReference</class-a>
		<class-b>org.cts2.entity.EntityDirectoryEntry</class-b>
		<field>
			<a>code</a>
			<b>resourceName</b>
		</field>
		<field>
			<a>code</a>
			<b>localEntityName.name</b>
		</field>		
		<field>
			<a>codeNamespace</a>
			<b>localEntityName.namespace</b>
		</field>
		<field custom-converter-id="entityDirectoryEntryAboutConverter">
			<a>this</a>
			<b>this</b>
		</field>		
<!--		<field custom-converter-id="entryStateConverterId">-->
<!--			<a>entity.isActive</a>-->
<!--			<b>shortEntityDescription[0].entryState</b>-->
<!--		</field>-->
<!--		<field custom-converter-id="renderingURIGeneratorId" custom-converter-param="codesystem-entity">-->
<!--			<a>this</a>-->
<!--			<b>shortEntityDescription[0].href</b>-->
<!--		</field>-->
<!--		<field>-->
<!--			<a>codingSchemeURI</a>-->
<!--			<b>shortEntityDescription[0].describingCodeSystemVersion.meaning</b>-->
<!--		</field>		-->
<!--		<field>-->
<!--			<a>codingSchemeVersion</a>-->
<!--			<b>shortEntityDescription[0].describingCodeSystemVersion.name</b>-->
<!--		</field>	-->
<!--		<field>-->
<!--			<a>entityDescription.content</a>-->
<!--			<b>shortEntityDescription[0].preferredName</b>-->
<!--		</field>	-->
<!--		<field custom-converter-id="preferredDefinitionConverterId">-->
<!--			<a>entity.presentation</a>-->
<!--			<b>shortEntityDescription[0].preferredDefinition.value</b>-->
<!--		</field>				-->
	</mapping>
	
	<mapping>
		<class-a>org.LexGrid.LexBIG.DataModel.Core.ResolvedConceptReference</class-a>
		<class-b>org.cts2.entity.NamedEntityDescription</class-b>
<!--		<field custom-converter-id="definitionStateConverterId">-->
<!--			<a>referencedEntry.isDefined</a>-->
<!--			<b>definitionState</b>-->
<!--		</field>-->
		<!-- field custom-converter-id="entityReferenceTypeConverterId" custom-converter-param="NAMED_ENTITY">
			<a>this</a>
			<b>entityId.entityReferenceType</b>
			<b-deep-index-hint>org.cts2.core.EntityReference</b-deep-index-hint>
		</field-->
		<field>
			<a>code</a>
			<b>entityId.name</b>
		</field>
		<field>
			<a>codeNamespace</a>
			<b>entityId.namespace</b>
		</field>
		<field>
			<a>codingSchemeURI</a>
			<b>describingCodeSystemVersion.meaning</b>			
		</field>
		<field>
			<a>codingSchemeName</a>
			<b>describingCodeSystemVersion.content</b>			
		</field>
		<!-- field custom-converter-id="entityReferenceTypeConverterId" custom-converter-param="NAMED_ENTITY">
			<a>this</a>
			<b>resourceType[0].entityReferenceType</b>
			<b-deep-index-hint>org.cts2.core.EntityReference</b-deep-index-hint>
		</field-->
		<!-- <field custom-converter-id="designationConverterId">
			<a>this</a>
			<b>designation</b>
		</field> -->
		<!-- <field custom-converter-id="definitionConverterId">
			<a>this</a>
			<b>definition</b>
		</field> -->	
<!--		<field custom-converter-id="commentConverterId">-->
<!--			<a>this</a>-->
<!--			<b>comment</b>-->
<!--		</field>	-->
		<!-- field map-id="statementRefMap">
			<a>referencedEntry.property</a>
			<b>resource.property</b>
			<a-hint>org.LexGrid.commonTypes.Property</a-hint>
			<b-hint>org.cts2.core.Statement</b-hint>
		</field-->		
		
<!--		<field custom-converter-id="entryStateConverterId">-->
<!--			<a>referencedEntry.isActive</a>-->
<!--			<b>entryState</b>-->
<!--		</field>-->
<!--		<field>-->
<!--			<a>referencedEntry.owner</a>-->
<!--			<b>owner.content</b>-->
<!--		</field>-->
<!--		<field>-->
<!--			<a>referencedEntry.status</a>-->
<!--			<b>status.name</b>-->
<!--		</field>-->
				
		<!-- field>
			<a>referencedEntry.entityCodeNamespace</a>
			<b>resource.entityId.namespace</b>
		</field>
		<field>
			<a>referencedEntry.effectiveDate</a>
			<b>resource.effectiveDate</b>
		</field>
		<field>
			<a>referencedEntry.expirationDate</a>
			<b>resource.expirationDate</b>
		</field>
		<field>
			<a>entityDescription</a>
			<b>resource.reference[0].preferredDesignation</b>
		</field-->				
	</mapping>
	
	<mapping wildcard="false">
		<class-a>org.LexGrid.concepts.Presentation</class-a>
		<class-b>org.cts2.entity.Designation</class-b>
		<field-exclude>
			<a>degreeOfFidelity</a>
			<b>degreeOfFidelity</b>
		</field-exclude>
		<field>
			<a>degreeOfFidelity</a>
			<b>degreeOfFidelity.content</b>
		</field>
		<field-exclude>
			<a>language</a>
			<b>language</b>
		</field-exclude>
		<field>
			<a>language</a>
			<b>language.content</b>
		</field>
		<field>
			<a>propertyId</a>
			<b>externalIdentifier</b>
		</field>		
		<field>
			<a>value.content</a>
			<b>value</b>
		</field>
		<field custom-converter-id="presentationUsageContextListToContextReferenceListConverter">
			<a>this</a>
			<b>this</b>
		</field>
		<field>
			<a>value.dataType</a>
			<b>format.content</b>
		</field>
		<field>
			<a>propertyName</a>
			<b>designationType.content</b>
		</field>
		<field custom-converter-id="presentationPreferredToDesignationRoleConverter">
			<a>this</a>
			<b>this</b>
		</field>
		
<!--		<field>-->
<!--			<a>representationalForm</a>-->
<!--			<b>representationalForm.name</b>-->
<!--		</field>-->
<!--		<field custom-converter-id="preferenceConverterId">-->
<!--			<a>isPreferred</a>-->
<!--			<b>usage</b>-->
<!--		</field>-->
<!-- 		<field map-id="usageContextMap">
			<a>usageContext</a>
			<b>usageContext</b>
			<b-hint>org.terms.Core.ContextReference</b-hint>
		</field> -->
<!--		<field>-->
<!--			<a>value</a>-->
<!--			<b>value.value</b>-->
<!--		</field>-->
		<!-- field>
			<a>language</a>
			<b>language.content</b>
		</field>
		<field map-id="sourceMap" copy-by-reference="false">
			<a>sourceAsReference</a>
			<b>sourceAsReference</b>
			<b-hint>org.terms.Core.SourceReference</b-hint>
		</field-->
	</mapping>

	<mapping wildcard="false">
		<class-a>org.LexGrid.concepts.Definition</class-a>
		<class-b>org.cts2.core.Definition</class-b>
<!--		<field custom-converter-id="preferenceConverterId">-->
<!--			<a>isPreferred</a>-->
<!--			<b>usage</b>-->
<!--		</field>-->
<!--		<field map-id="usageContextMap">-->
<!--			<a>usageContext</a>-->
<!--			<b>usageContext</b>-->
<!--			<b-hint>org.terms.Core.ContextReference</b-hint>-->
<!--		</field>			-->
		<field>
			<a>propertyId</a>
			<b>externalIdentifier</b>
		</field>
		<field>
			<a>language</a>
			<b>language.content</b>
		</field>
		<field>
			<a>value.content</a>
			<b>value</b>
		</field>
		<field>
			<a>value.dataType</a>
			<b>format.content</b>
		</field>
		<field custom-converter-id="definitionPreferredToDefinitionRoleConverter">
			<a>this</a>
			<b>this</b>
		</field>
<!--		<field custom-converter-id="">-->
<!--		</field>-->
		<!-- field custom-converter-id="renderingURIGeneratorId" custom-converter-param="codesystem-entity-statement">
			<a>this</a>
			<b>href</b>
		</field-->				
<!--		<field>-->
<!--			<a>value.content</a>-->
<!--			<b>value.value</b>-->
<!--		</field>-->
		<!-- field>
			<a>language</a>
			<b>language.content</b>
		</field>
		<field map-id="sourceMap" copy-by-reference="false">
			<a>sourceAsReference</a>
			<b>sourceAsReference</b>
			<b-hint>org.terms.Core.SourceReference</b-hint>
		</field>
		<field>
			<a>source</a>
			<b>source</b>
			<b-deep-index-hint>org.terms.Core.SourceReference</b-deep-index-hint>
		</field-->		
	</mapping>

	<mapping>
		<class-a>org.LexGrid.concepts.Comment</class-a>
		<class-b>org.cts2.core.Comment</class-b>	
		<!-- field custom-converter-id="renderingURIGeneratorId" custom-converter-param="codesystem-entity-statement">
			<a>this</a>
			<b>href</b>
		</field-->			
		<field>
			<a>propertyId</a>
			<b>externalIdentifier</b>
		</field>				
<!--		<field>-->
<!--			<a>value.content</a>-->
<!--			<b>value.value</b>-->
<!--		</field>	-->
		<!-- field>
			<a>language</a>
			<b>language.content</b>
		</field>
		<field map-id="sourceMap">
			<a>sourceAsReference</a>
			<b>sourceAsReference</b>
			<b-hint>org.terms.Core.SourceReference</b-hint>
		</field-->			
	</mapping>
			
<!-- 	<mapping>
		<class-a>java.lang.String</class-a>
		<class-b>org.cts2.core.ContextReference</class-b>
		<field>
			<a>this</a>
			<b>name</b>
		</field>
	</mapping> -->	
</mappings>