<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping map-null="false">
    	<class-a>org.LexGrid.valueSets.ValueSetDefinition</class-a>
    	<class-b>org.cts2.valueset.ValueSetDefinition</class-b>
    	
    	<field>
			<a>valueSetDefinitionURI</a>
			<b>about</b>
		</field>
    	<field>
			<a>valueSetDefinitionURI</a>
			<b>formalName</b>
		</field>
		<field>
			<a>definitionEntry</a>
			<b>entry</b>
		</field>
		<field>
			<a>valueSetDefinitionURI</a>
			<b>definedValueSet.content</b>
		</field>
		<field>
			<a is-accessible="true">_properties._propertyList</a>
			<b is-accessible="true">_propertyList</b>
		</field>
		<field>
			<a>status</a>
			<b>status.content</b>
		</field>
		<field>
			<a>owner</a>
			<b>owner.content</b>
		</field>
		<field>
			<a>effectiveDate</a>
			<b>changeDescription.effectiveDate</b>
		</field>
		<field custom-converter-id="changeTypeConverter">
			<a>entryState.changeType</a>
			<b>changeDescription.changeType</b>
		</field>
		<field>
			<a>entryState.containingRevision</a>
			<b>changeDescription.containingChangeSet</b>
		</field>
		<field>
			<a>entryState.prevRevision</a>
			<b>.changeDescription.prevChangeSet</b>
		</field>
    </mapping>
    
    <mapping map-null="false">
    	<class-a>org.LexGrid.valueSets.ValueSetDefinition</class-a>
    	<class-b>org.cts2.core.ValueSetReference</class-b>
    	
    	<field>
			<a>valueSetDefinitionURI</a>
			<b>content</b>
		</field>
		
    </mapping>   

	<mapping map-null="false">
    	<class-a>org.LexGrid.valueSets.ValueSetDefinitions</class-a>
    	<class-b>org.cts2.valueset.ValueSetDefinitionDirectory</class-b>
    	
    	<field>
			<a>valueSetDefinition</a>
			<b>entry</b>
		</field>
	</mapping>
	
	<mapping map-null="false">
    	<class-a>org.LexGrid.valueSets.ValueSetDefinition</class-a>
    	<class-b>org.cts2.valueset.ValueSetDefinitionDirectoryEntry</class-b>
    	
    	<field>
			<a>valueSetDefinitionURI</a>
			<b>definedValueSet.content</b>
		</field>
		<field>
			<a>valueSetDefinitionURI</a>
			<b>about</b>
		</field>
		<field>
			<a>valueSetDefinitionURI</a>
			<b>resourceID</b>
		</field>
		<field>
			<a>valueSetDefinitionName</a>
			<b>formalName</b>
		</field>
		<field>
			<a>entityDescription.content</a>
			<b>resourceSynopsis.value</b>
		</field>
	</mapping>
</mappings>        