<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration">

        <hibernate-configuration>
          <session-factory>
          	<property name="hibernate.jdbc.batch_size">100</property>
			<property name="hibernate.jdbc.fetch_size">100</property>
			<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
			<property name="hibernate.cache.use_second_level_cache">false</property>
			 <property name="hibernate.cache.region.factory_class">
        		net.sf.ehcache.hibernate.EhCacheRegionFactory
   			</property>
    		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
			<property name="hibernate.hbm2ddl.auto">create-drop</property>
			<property name="hibernate.cache.use_query_cache">false</property>
			<property name="hibernate.jdbc.batch_versioned_data">true</property>
			<property name="hibernate.show_sql">false</property>
			<property name="hibernate.format_sql">false</property>
			<property name="org.hibernate.flushMode">COMMIT</property>
            <mapping class="org.lexevs.registry.model.Registry"/>
            <mapping class="org.lexevs.registry.model.RegistryEntry"/>
          </session-factory>
        </hibernate-configuration>